@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
}
